// # header --

.extra-info-wrapper {
	padding: 0 1.5rem;
}

// # navigation container --

.navigation-container {
	.category-breadcrumb {
		grid-area: breadcrumb;
		grid-row: 1;
		min-width: 555px;
	}
}
