// # header --

.extra-info-wrapper {
	padding: 0 1.5rem;
}

// # navigation container --

.navigation-container {
	.category-breadcrumb {
		grid-area: breadcrumb;
		grid-row: 1;
		min-width: 555px;
	}
}

// # latest category posts

.latest-topic-list .table-heading {
	margin: 0 1.25rem;
}
